html, body {
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Open Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    overflow-y: auto;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(10, 0, 30, 0.4);
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.nav-links {
    display: flex;
    gap: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-links a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 30px;
    transition: background 0.3s, color 0.3s;
}

.nav-links a:hover {
    color: white;
}

.nav-actions a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.login {
    color: rgba(255, 255, 255, 0.8);
}

.join {
    background-color: #4f46e5;
    color: white;
    box-shadow: 0 0 10px #4f46e5;
}

.join:hover {
    background-color: #6d5dfc;
}