@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&family=Rajdhani:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

    .main_header {
        background: url('/project/public/images/gojo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 15px 50px;
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 100%;
    }

    .logo {
        font-size: 30px;
        font-weight: 500;
        color: #1877f2;
        text-decoration: none;
    }

    .nav_links a {
        margin: 0 15px;
        text-decoration: none;
        font-weight: 500;
        color: white;
        font-size: 20px;
    }

    .nav_links a:hover {
        color: black;
    }

    .btn a {
        text-decoration: none;
        margin: 15px;
        font-weight: 600;
        padding: 8px 16px;
        border-radius: 5px;
        transition: 0.3s;
    }

    .btn .login {
        color: #1877f2;
        border: 1px solid #1877f2;
    }

    .btn .login:hover {
        background-color: #1877f2;
        color: #fff;
    }

    .btn .join {
        background-color: #1877f2;
        color: #fff;
    }

    .btn .join:hover {
        background-color: #145dbf;
    }